/* basic styling for navbar and logo-img and increase fontsize and fontweight */
.navbar-brand {
  font-weight: 600;
}

.logo-img {
  width: 50px;
  height: auto;
}

.nav-item,
.dropdown-menu {
  font-size: 1.6rem;
  font-weight: 600;
}
